@model Maintenance.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h2 style="color:dodgerblue">Employee</h2>
</div>
<h4 style="color:brown">Create</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Employee_No" class="control-label"></label>
                <input asp-for="Employee_No" class="form-control" />
                <span asp-validation-for="Employee_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_EngName" class="control-label"></label>
                <input asp-for="Employee_EngName" class="form-control" />
                <span asp-validation-for="Employee_EngName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_ArName" class="control-label"></label>
                <input asp-for="Employee_ArName" class="form-control" />
                <span asp-validation-for="Employee_ArName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Phone" class="control-label"></label>
                <input asp-for="Employee_Phone" class="form-control" />
                <span asp-validation-for="Employee_Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Iqama" class="control-label"></label>
                <input asp-for="Employee_Iqama" class="form-control" />
                <span asp-validation-for="Employee_Iqama" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="BranchIDFK" class="control-label"></label>
                <select asp-for="BranchIDFK" class="form-control" asp-items="@(new SelectList( ViewBag.Branchs, "Branch_ID", "Branch_ArName"))"></select>
                <span asp-validation-for="BranchIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionIDFK" class="control-label"></label>
                <select asp-for="ProfessionIDFK" class="form-control" asp-items="@(new SelectList( ViewBag.Professions, "Profession_ID", "Profession_ArName"))"></select>
                <span asp-validation-for="ProfessionIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrivingLicenseIDFK" class="control-label"></label>
                <select asp-for="DrivingLicenseIDFK" class="form-control" asp-items="@(new SelectList( ViewBag.DrivingLicenses, "DrivingLicense_ID", "DrivingLicense_Name"))"></select>
                <span asp-validation-for="DrivingLicenseIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfWorkIDFK" class="control-label"></label>
                <select asp-for="PlaceOfWorkIDFK" class="form-control" asp-items="@(new SelectList( ViewBag.PlaceOfWorks, "PlaceOfWork_ID", "PlaceOfWork_Name"))"></select>
                <span asp-validation-for="PlaceOfWorkIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_ImageURL" class="control-label"></label>
               @* <input type="file" name="File" asp-for="File" class="form-control" />*@
                <span asp-validation-for="Employee_ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


               