@model Maintenance.Models.Machine_SubGroup

@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h2 style="color:dodgerblue">Machine Type</h2>
</div>
<h4 style="color:brown">Create</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                <label asp-for="MachineGroupIDFK" class="control-label"></label>
                <select asp-for="MachineGroupIDFK" class="form-control" asp-items="@(new SelectList( ViewBag.Machine_Groups, "MachineGroup_ID", "MachineGroup_Name"))"></select>
                <span asp-validation-for="MachineGroupIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineSubgroup_Name" class="control-label"></label>
                <input asp-for="MachineSubgroup_Name" class="form-control" />
                <span asp-validation-for="MachineSubgroup_Name" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
