@model Maintenance.Models.Branch

@{
    ViewData["Title"] = "Create";
}
<div class="text-center">
    <h2 style="color:dodgerblue">Branchs</h2>
</div>
<h4 style="color:brown">Create</h4>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Branch_ArName" class="control-label"></label>
                <input asp-for="Branch_ArName" class="form-control" />
                <span asp-validation-for="Branch_ArName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch_EngName" class="control-label"></label>
                <input asp-for="Branch_EngName" class="form-control" />
                <span asp-validation-for="Branch_EngName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
