html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#projectTable tr {
    /*font-size: 10px;
    line-height: 10px;
    border: none;
    padding-bottom: 6px;*/
    height: 5px;
}