@model IEnumerable<Maintenance.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h4>Machine Group </h4>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table table-bordered table-hover table-condensed">
    <thead class="table-Primary">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barnd_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barnd_Name)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barnd_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barnd_Name)
            </td>
        </tr>
}
    </tbody>
</table>
